<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application>

        <activity
            android:name=".internal.permissions.PermissionsActivity"
            android:exported="false"
            android:theme="@style/Theme.FilePicker.Transparent" />

        <activity
            android:name=".internal.ui.FilePickerActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.FilePicker.Transparent" />
    </application>

</manifest>